body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: powderblue;
}

.titel{
    color: blue;
}

.container2 {
    max-width: 50px;
    height: auto;
    background-color: yellow;  
    }
