body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: powderblue;
}

.titel{
    color: blue;
}

.containter{
    
}

.container2 {
    max-width: 200px;
    height: auto;
    background-color: yellow;  
    }

.info {
    position: relative;
    float: left;
    max-width: 500px;
    height: auto;
    background-color: beige;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
}
#mapid { height: 180px; }